<div class="top">
    <img src="../packet/img/banner3.png" alt="">
</div>
<div class="bottom">
    <img src="../packet/img/rtMH.png" alt="" class="f">
    <img src="../packet/img/mh.png" alt="" class="s">
    <img src="../packet/img/qiang.png" alt="" class="q" ng-click="mine.robButtonAction()">
    <img src="../packet/img/z43.png" alt="" class="clock">

    <div id="box">
        <div class="time" id="bSecond">
            <div>0</div>
            <div>0</div>
        </div>
        <div class="time" id="aSecond">
            <div>6</div>
            <div>5</div>
        </div>

        <div class="time" id="bMinute">
            <div>0</div>
            <div>0</div>
        </div>
        <div class="time">
            <div>0</div>
            <div>0</div>
        </div>


        <div class="time" id="bHour">
            <div>0</div>
            <div>0</div>
        </div>

        <div class="time">
            <div>0</div>
            <div>0</div>

        </div>
    </div>

</div>
<div class="zj" ng-if="mine.showPacket">
    <img src="../packet/img/tc63.png" alt="">
    <h3>10 元</h3>
    <p class="ts">红包将直接冲入您的微信钱包</p>
    <p class="white1">抢到10元红包</p>
    <div class="btn">
        <img src="../packet/img/btn.png" alt="" ng-click="mine.lookBtnAction()">
    </div>
    <p class="white2">感谢您的参与</p>
</div>